<section id="loginSection" class="container-fluid row">
  <form name="loginForm" ng-submit="" class="col-sm-5 pull-right">
    <h4 class="headline text-center">Login first !</h4>
      <div class="form-group">
        <label for="email" class="formLabels">Email address:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd" class="formLabels">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <button type="submit" class="ghost-button btn btn-default btn-block"> Submit</button>
      <div class="checkbox">
        <a style="color:#fff" class=" pull-right" ui-sref="#!"><i class="glyphicon glyphicon-flag"></i> Reset Password</a>
      </div>
  </form>
</section>
